<!-- <passenger-count
[items]="passengers"></passenger-count>
<div *ngFor="let passenger of passengers">
  {{ passenger.fullName }}
</div>
<p></p>
<passenger-detail
  *ngFor = "let passenger of passengers;"
[detail]="passenger"
(remove)="handleRemove($event)"
(edit) = "handleEdit($event)">
</passenger-detail>
  <ul>
    <li *ngFor = "let passenger of passengers; let i = index">
      <span class="status"
      [class.checked-in]="passenger.checkedIn"></span>
           {{i}} : {{passenger.fullName}}
           <p>{{passenger.checkInDate ? (passenger.checkInDate | date: 'yMMMd'|  uppercase): 'Not check In'}}</p>
           <div class="children">
             Children: {{passenger.children?.length || 0}}
           </div>
</li>
  </ul> -->
  
  
  <div>
      <passenger-count
      [items]="passengers">
    </passenger-count>
    <div *ngFor="let passenger of passengers;">
      {{ passenger.fullName }}
    </div>
    <passenger-detail
      *ngFor="let passenger of passengers;"
      [detail]="passenger"
      (edit)="handleEdit($event)"
      (remove)="handleRemove($event)">
    </passenger-detail>
  </div>